<div class="fr-grid-row question-container-printanswers" style="page-break-inside:avoid;">
    {% include './subviews/printanswers/partials/_question_header.twig' %}
    <div class="fr-col-lg-8">
       <div class="fr-grid-row">
           <div class="fr-col-lg-4 fr-text-right">
           </div>
           <div class="fr-col-lg-8 fr-text-left">
               {{question.answervalue}} - {{question.answeroption.answer}}
           </div>
       </div>
       <div class="fr-grid-row">
           <div class="fr-col-md-4 text-right">
           </div>
           <div class="fr-col-md-8 text-left">
               {{question.comment.answervalue|escape}}
           </div>
       </div>
   </div>
</div>
