{#
/**
 * Array Texts - Empty Error - DSFR Theme
 * Displays error when no answers are defined
 */
#}

<!-- empty_error -->
<div class="fr-alert fr-alert--error fr-mt-2w">
    <p class="fr-alert__title">{{ gT('Error: There are no answer options for this question.') }}</p>
</div>
<!-- end of empty_error -->
