{#
Marqueur champ obligatoire DSFR - astérisque rouge classique
#}
<span class="asterisk" style="color: var(--text-default-error); font-weight: 700; margin-right: 0.25rem;" aria-hidden="true">*</span>
