{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.



    (¯`·._.·(¯`·._.· Question Text Content  ·._.·´¯)·._.·´¯)

    This file render the quetion text content.
    NOTE: see views/subviews/survey/question.twig comments for more infos
#}
{# The question text as a H3 heading for proper document structure #}
{# Note: Le numéro/code de question est affiché dans question_container.twig via l'option du thème showquestioncode #}
{# Note: L'astérisque obligatoire est injecté par JavaScript (custom.js) pour éviter les doublons #}
{# Note: On utilise striptags pour supprimer les <p> du RTE qui sont invalides dans un <h3> #}
<h3 id="ls-question-text-{{ aQuestion.SGQ }}" class="{{ aSurveyInfo.class.questiontext }} fr-h5 fr-mb-1w{% if aQuestion.mandatory == 'Y' %} mandatory-question{% endif %}" {{ aSurveyInfo.attr.questiontext }}>
    {{ aQuestion.text | striptags('<strong><em><u><br><span><a><abbr><sub><sup>') | raw }}
</h3>
