{#
/**
 * Boilerplate Question - DSFR Theme
 * Type: X (Boilerplate/Text Display)
 *
 * This template displays text/HTML content without asking a question
 * Used for instructions, explanations, or visual separators
 *
 * @var $question       The text/HTML content to display
 * @var $basename       Base name for aria labels
 */
#}

<!-- Boilerplate (Type X) - DSFR -->
<div class="boilerplate-content" role="region" aria-labelledby="ls-question-text-{{ basename }}">
    {{ question|raw }}
</div>

<!-- end of Boilerplate -->
